
form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}


label {
  display: block;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button
 {
  padding: 10px 20px 10px;
  border: none;
  border-radius: 5px;
  background-color: #000307;
  color: #fff;
  cursor: pointer; 
}

/* Error Messages */
div {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.volverProductos{
  position: absolute;
  top:1%;
  left:1%;
  
}