form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

p {
  color: #fff;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background: transparent;
  color: #fff;
}

button {
  background-color: #b6b6b6;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #b6b6b6;
}

.warn {
  color: red;
  padding: 5px 5px 5px;
}
