<section class="absolute left-0 right-0">
    <div
        class="min-h-screen bg-gradient-to-br from-cyan-200 to-blue-900 flex flex-col items-center justify-center py-12 sm:px-6 lg:px-8">
        <div
            class="absolute flex flex-col items-center mx-auto p-20 justify-center bg-slate-950 bg-opacity-30 rounded-lg shadow-2xl">
            <div class="absolute -top-14 bg-white rounded-full">
                <app-logo className="w-28 h-28"></app-logo>
            </div>
            <form [formGroup]="formulario" class="space-y-6">
                <div class="sm:mx-auto sm:w-full sm:max-w-md">
                    <h2 class="p-5 m-5 mt-2 text-center text-3xl font-extrabold text-white">
                        Iniciar Sesion
                    </h2>
                </div>

                <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                    <label for="nombreUsuario" class="block text-sm font-medium text-white ">Nombre de Usuario: </label>
                    <div class="mt-1">
                        <input
                            class="bg-transparent appearance-none border-none rounded-md relative block w-full px-3 py-2 placeholder-gray-700 text-white outline-none sm:text-sm"
                            type="text" placeholder="Nombre de usuario..." formControlName="nombre">

                    </div>

                    <div class="mt-1">
                        <label for="contrasena" class="block text-sm font-medium text-white "> Contraseña: </label>
                        <input
                            class="bg-transparent appearance-none border-none rounded-md relative block w-full px-3 py-2 placeholder-gray-700 text-white outline-none sm:text-sm"
                            type="password" placeholder="Contraseña... " formControlName="contrasena">

                    </div>
                    <div class="mt-6">
                        <button type="submit"
                            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            (click)="ingresarUsuarioYContrasena()">Iniciar Sesion</button>
                    </div>

                    @if(formulario.controls['nombre'].getError('required') && formulario.controls['nombre'].touched){
                    <p class="warn p-1 text-white">
                        Nombre de usuario invalido
                    </p>
                    }

                    @if(formulario.controls['contrasena'].getError('required') && formulario.controls['contrasena'].touched){
                    <p class="warn p-1 text-white">
                        Contraseña invalida
                    </p>
                    }
                    
                </div>
            </form>
        </div>
    </div>
</section>