<h1>Inicio de sesion</h1>
<section>
    <form [formGroup] = "formulario" >
                        
        <label for="nombreUsuario">Nombre Usuario: </label>
        <input type = "text" placeholder="Nombre de usuario..." formControlName = "nombre">

        @if(formulario.controls['nombre'].getError('required')  && formulario.controls['nombre'].touched){
            <div>
                Campo requerido
            </div>
        }   

        <label for="contrasena"> Contrasena: </label>
        <input type = "string" placeholder="Contrasena... " formControlName = "contrasena">

        @if(formulario.controls['contrasena'].getError('required')  && formulario.controls['contrasena'].touched){
            <div>
                Campo requerido
            </div>
        }  

        <button (click) = "ingresarUsuarioYContrasena()">Iniciar Sesion</button>

    </form>
</section>

