/* src/styles.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}
