<div class="contenedor">
    <table class="tablaProd">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Estado del pedido</th>
                <th>Nombre del Producto</th>
                <th>Cantidad</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of listaPedidos; let i = index">
                <td>{{pedido.fecha}}</td>
                <td>{{pedido.estado}}</td>
                <td colspan="4">
                    <table>
                        <tbody>
                            @for (producto of pedido.productos; track $index) {

                            <tr>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.categoria}}</td>
                                <td>{{producto.precio}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <div *ngIf="valorEstado(pedido.estado)">
                        <a (click)="cambiarEstadoAceptacion(i)">Aceptar</a>
                        <br>
                        <a (click)="cambiarEstadoRechazo(i)">Rechazar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>