.ventas-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px; /* Ajusta el tamaño del texto según tus necesidades */
}

.ventas-table th, .ventas-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.ventas-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.productos-table th, .productos-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.productos-table th {
  background-color: #f9f9f9;
  font-weight: bold;
}

.card {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}