<div class="card">
    <table class="ventas-table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Productos</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of listaVentas" class="ventas-header">
                <td>{{ venta.fecha }}</td>
                <td>{{venta.vendedor}} </td>
                <td>
                    <table class="productos-table">
                        <ul>
                            @for (producto of venta.productos; track $index) {
                            <li>{{producto.cantidad + "x " + producto.nombre}}</li>
                            }
                        </ul>
                    </table>
                </td>
                <td>{{ venta.total }}</td>
            </tr>
        </tbody>
    </table>
    <button routerLink="/">Volver al menu</button>
</div>