@for (item of reportes; track $index) {
<div class="card">
    <p class="card-header">{{item.fecha}}</p>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Diferencia</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @for (prod of item.productos; track $index) {
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.categoria}}</td>
                <td>{{prod.diferencia}}</td>
                <td>{{prod.cantidad}}</td>
                <td>{{prod.precio}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
}