<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Stock</th>
            <th>Diferencia</th>
            <th>Actualizar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>
                <input type="number" [(ngModel)]="producto.cantidad" (change)="actualizarCantidad(producto)" />
            </td>
            <td>
                <input type="number" [(ngModel)]="producto.diferencia" (change)="actualizarDiferencia(producto)" />
            </td>
            <td>
                <button (click)="guardarCambios(producto)">Guardar</button>
            </td>
        </tr>
    </tbody>
</table>