<div class="menu-vendedor">

    <h1>Menu vendedor</h1>
    

    <app-button-route texto="Cargar Venta" routerLink="/NuevaVenta">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
            <path d="M17,11H13V7a1,1,0,0,0-2,0v4H7a1,1,0,0,0,0,2h4v4a1,1,0,0,0,2,0V13h4a1,1,0,0,0,0-2Z" />
        </svg>
    </app-button-route>

    <app-button-route texto="Lista de ventas" routerLink="/ListaVentas">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
            <path d="M7,6H23a1,1,0,0,0,0-2H7A1,1,0,0,0,7,6Z" />
            <path d="M23,11H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z" />
            <path d="M23,18H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z" />
            <circle cx="2" cy="5" r="2" />
            <circle cx="2" cy="12" r="2" />
            <circle cx="2" cy="19" r="2" />
        </svg>
    </app-button-route>


</div>