.menu-vendedor {
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el menú horizontalmente */
  padding: 20px; /* Añade un poco de relleno */
}
