<section>
    <table>
        <thead>
            <tr>
                <th>Nombre del producto</th>
                <th>Precio unitario</th>
                <th>Cantidad en stock</th>
                <th>Seleccionar Producto</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let producto of listaProductos; let i = index">
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.cantidad}}</td>
                <td>    
                    <input type = "checkbox" (click) = "cambiarEstadoInput(i)" #checkbox>
                    <div *ngIf = "estadosInput[i]" >
                        <input 
                            #cantidadInput 
                            type = "number" 
                            placeholder = "Cantidad a comprar.." 
                            (input) = "verificarCantidad(+cantidadInput.value,i,cantidadInput)" 
                            (blur)="cargarArregloProductos(+cantidadInput.value,i)"
                        >
                    </div>
                </td>
                    
            </tr>
            
        </tbody>
    </table>
</section>

<button type = "text" (click) = "cargarVenta()">Cargar venta</button>