<div>
    <table>
        <thead>
            <tr>
                <th>Nombre del producto</th>
                <th>Precio unitario</th>
                <th>Cantidad en stock</th>
                <th>Categoria</th>
                <th>Seleccionar Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listaProductos; let i = index">
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.categoria}}</td>
                <td>
                    <div class="counter">
                        <button (click)="restar(producto, i)" class="btn btn-unplus">-</button>
                        <div class="counter-score">{{listaProductosVenta[i] || 0 }}</div>
                        <button (click)="sumar(producto, i)" class="btn btn-plus">+</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button type="text" (click)="cargarVenta()">Cargar venta</button>