table {
  vertical-align: middle;
}

.card-table {
  background-color: #2a75ff56;
  border-radius: 10px;
  padding: auto;
  margin: 18% 8%;
  padding: 2% 2%;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.counter-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-size: large;
}

.btn {
  display: flex;
  background-color: #2a75ff56;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: #2a75ffa1;
}

.product-name {
  width: max-content;
  text-wrap: nowrap;
  text-overflow: clip;
  display: relative;
}
