.card {
  bottom: 0;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10%;
  background: rgb(38, 38, 38);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoutButton {
  margin-top: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.UserName {
  color: white;
  font-size: 16px;
  font-weight: 900;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.role {
  color: rgb(144, 144, 144);
  font-size: 12px;
  font-weight: 500;
}
