body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #e0e0e0;
  color: #949494;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}

.card {
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.card p {
  margin: 8px 0;
}

.card-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.card > table {
  width: 100%;
  border-collapse: collapse;
}

tr:hover {
  cursor: default;
  text-align: left;
  padding: 8px 0;
  background-color: #5f5f5f;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #343434;
  margin: 0;
  padding: 0;
}

a {
  color: #464646;
  text-decoration: none;
}

a:hover {
  color: #1a1a1a;
  text-decoration: none;
}
