body {
  font-family: "Roboto", Arial, sans-serif;
  background: linear-gradient(to bottom right, #333, #990033);
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}
