<div class="contenedor">


    <table class="tablaProd">

        <tbody>
            <tr *ngFor = "let pedidos of listaPedidos; track $index" >
                <td>{{pedidos.fecha}}</td>
                <td>{{pedidos.estado}}</td>
                <tbody>
                    <tr *ngFor = "let producto of pedidos.productos; track $index">
                        <td>{{producto.nombre}} </td>
                        <td>{{producto.cantidad}} </td>
                        <td>{{producto.categoria}} </td>
                        <td>{{producto.diferencia}} </td>
                        <td>{{producto.precio}} </td>
                    </tr>
                </tbody>
            </tr>
        </tbody>
    </table>
</div>
