<div>
    <table>
        <thead>
            <tr>
                <th>Nombre del producto</th>
                <th>Precio unitario</th>
                <th>Categoria</th>
                <!-- <th>Seleccionar Producto</th> -->

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let producto of listaProductos; let i = index">
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.categoria}}</td>
                <!-- <td>
                    <input type="checkbox" #checkbox (change)="seleccionarProducto(i,checkbox)" [checked]="estadoCheckbox[i]">
                    <a *ngIf = "estadoCheckbox[i]" (click) = "seleccionarProducto(i,checkbox)">Modificar</a>                
                </td> -->

                <td>
                    <div class="counter">
                        <button (click)="restar(i)" class="btn btn-unplus">-</button>
                        <div class="counter-score">{{ArregloCantidad[i]}}</div>
                        <button (click)="sumar(i)" class="btn btn-plus">+</button>
                        <!-- <button type="button" (click)="cargarArregloProductos(ArregloCantidad[i])">Agregar</button> -->
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<button class="submitBtn" type="text" (click)="cargarPedido()">Cargar pedido</button>
<button type="text" routerLink ="/MenuEncargado">Volver al menu</button>

