.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.tablaProd {
  position: relative;
  height: 90%;
  width: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  min-width: fit-content;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.header {
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #3d3b3b;
}

td,
th {
  border: 1px solid #f2f2f2;
  padding: 8px;
}

/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .tablaProd {
    font-size: 0.9em; /* Ajusta el tamaño de la fuente si es necesario */
  }
}

@media (max-width: 472px) {
  .tablaProd {
    font-size: 0.6em;
  }
}
