<h1>{{dia}}</h1>
<table style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th class="header" (click)="ordenarPor('nombre')">Nombre</th>
            <th class="header" (click)="ordenarPor('precio')">Precio</th>
            <th class="header" (click)="ordenarPor('cantidad')">Stock</th>
            <th class="header" (click)="ordenarPor('categoria')">Categoria</th>
            <th class="header" (click)="ordenarPor('diferencia')">Diferencia</th>
            <th class="header">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @for (producto of productos; track $index){
        <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.categoria}}</td>
            <td>{{ (producto.diferencia != 0 || producto.diferencia == null) ? producto.diferencia : "0" }}</td>
            <td><input *ngIf="producto.id" type="number"
                    [value]="((producto.diferencia !=null) && producto.cantidad !=null ) ? ((producto.diferencia) + producto.cantidad) : 0"
                    #subtotalInput (change)="setSubtotal(producto.id.toString() , subtotalInput.value)">
            </td>

        </tr>
        }
    </tbody>
</table>
<button type="button" (click)="enviarDatos()">
    Enviar Datos
</button>