@for (pedidos of listaPedidosAceptados; track $index) {

<div
    class="relative mx-10 my-6 py-2 px-6 bg-gray-100 hover:bg-gray-200 text-gray-900 font-medium overflow-x-auto shadow-md sm:rounded-lg  dark:bg-blue-950  dark:text-white">
    <p>Fecha del pedido: {{pedidos.fecha}}</p>
</div>

<div class="relative mx-10 my-6 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full table-fixed text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 ">
        <thead class="text-xs uppercase bg-blue-500 text-gray-200 ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre del producto
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio unitario
                </th>
                <th scope="col" class="px-6 py-3">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Cantidad Recibida
                </th>
                <th scope="col" class="px-6 py-3">
                    Estado
                </th>

            </tr>
        </thead>

        <tbody>

            @for (producto of pedidos.productos; track $index) {
            <tr class="bg-white border-b hover:bg-gray-50  dark:bg-blue-950 ">

                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  dark:text-white">
                    {{producto.nombre}}
                </td>

                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  dark:text-white">
                    {{producto.precio}}
                </td>

                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  dark:text-white ">
                    {{producto.categoria}}
                </td>

                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    <input class="w-full max-w-32 text-center" #recibidoInput placeholder="0" type="number"
                        [value]="producto.cantidad" min='0'
                        (change)="setRecibido(pedidos, producto.id, recibidoInput.value)">
                </td>

                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap  dark:text-white">
                    {{pedidos.estado}}
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>

<div>
    <button type="submit" (click)="cargarProducto(pedidos)" class="group relative flex justify-center my-5 mx-10 py-2 px-10 
                    border border-transparent text-sm font-medium rounded-md 
                    text-white bg-blue-500 hover:bg-indigo-600 focus:outline-none 
                    focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cargar remito </button>
</div>

}